@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.produto {
    height: 200px;
    width: 400px;
    background-color: white;
    border: 1px solid rgb(77, 76, 76);
    text-align: justify;
    border-radius: 10px;
    padding: 5px;
    display: block;
    font-family: "Rubik", sans-serif;
}

div:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.185);
}

body {
    background-color: rgb(228, 228, 228);
    font-family: "Rubik", sans-serif;
}

h1 {
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.preco {
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}

.destaque {
    background-color: #FEFBD5;
    color: #CA8A04;
    width: 85px;
    border-radius: 5px;
    padding: 2px;
    font-size: 0.8em;
    text-align: center;
}

h2#hamburguer::before {
    content: "\1F354";
}

h2#acompanhamentos::before {
    content: "\1F35F";
}

h2#bebidas::before {
    content: "\1F964";
}